<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>classpath:spring/appconfig-root.xml</param-value>
  </context-param>
  <servlet>
    <description></description>
    <display-name>CustomerLoginServlet</display-name>
    <servlet-name>CustomerLoginServlet</servlet-name>
    <servlet-class>com.hand.customermgt.servlet.CustomerLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerLoginServlet</servlet-name>
    <url-pattern>/CustomerLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteFilmServlet</display-name>
    <servlet-name>DeleteFilmServlet</servlet-name>
    <servlet-class>com.hand.filmmgt.servlet.DeleteFilmServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteFilmServlet</servlet-name>
    <url-pattern>/DeleteFilmServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateFilmServlet</display-name>
    <servlet-name>UpdateFilmServlet</servlet-name>
    <servlet-class>com.hand.filmmgt.servlet.UpdateFilmServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateFilmServlet</servlet-name>
    <url-pattern>/UpdateFilmServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddFilmServlet</display-name>
    <servlet-name>AddFilmServlet</servlet-name>
    <servlet-class>com.hand.filmmgt.servlet.AddFilmServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddFilmServlet</servlet-name>
    <url-pattern>/AddFilmServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchFilmServlet</display-name>
    <servlet-name>SearchFilmServlet</servlet-name>
    <servlet-class>com.hand.filmmgt.servlet.SearchFilmServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchFilmServlet</servlet-name>
    <url-pattern>/SearchFilmServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CustomerLogoutServlet</display-name>
    <servlet-name>CustomerLogoutServlet</servlet-name>
    <servlet-class>com.hand.customermgt.servlet.CustomerLogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerLogoutServlet</servlet-name>
    <url-pattern>/CustomerLogoutServlet</url-pattern>
  </servlet-mapping>
  
  
  <filter>
    <display-name>PermissionFilter</display-name>
    <filter-name>PermissionFilter</filter-name>
    <filter-class>com.hand.PermissionFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>PermissionFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  
  
</web-app>